### 11. 1부터 100까지 모두 더하는 Code를 pass 부분에 완성하세요. for를 사용해야 합니다.

```python
s = 0

<pass>

print(s)
```

In [56]:
s = 0
for i in range (101):
    s += i
print(s)

# 입력받은 숫자에 해당하는 범위값을 반복 가능한 객체로 만들어 돌려주는 for문 range함수를 사용
# 인수가 하나일 때, range 함수는 0부터 시작 (101로 작성해주어 100까지 더하도록 함)
# 할당 연산자인 +=를 사용해서 s에 s과 i을 더하여 s에 할당

5050

### 12. 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.

**주어진 소스 코드를 수정해선 안됩니다.**

```python
<여기에 class를 작성하세요.>

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()
```



```python
>> 545 210 10
파이어볼
```

In [57]:
class Wizard:
    def (self,health,mana,armor):
        self.health = health
        self.mana = mana
        self.armor = armor
    def attack(self):
        print('파이어볼')
        
x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

SyntaxError: invalid syntax (<ipython-input-57-0c9db7443560>, line 2)

### 13. 행성 문제 1
우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다. 입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 출력으로 그 순서에 해당하는 행성의 이름을 출력해주세요

In [1]:
i = int(input())
l = ['수성','금성','지구','화성','목성','토성','천왕성','해왕성']
print(l[i - 1]) #입력 받은 값에서 1을 빼 리스트에서 출력함

5
목성

### 14. 입력으로 랜덤한 숫자 n이 주어집니다. 만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요

In [2]:
n = int(input("숫자를 입력하세요:")) #int 함수로 숫자 n을 받음
if n % 3 == 0: #만약 n을 3으로 나누었을 때 나머지가 0이라면
    print('짝') #'짝' 출력
else: #만약 n을 3으로 나누었을 때 나머지가 0이 아니라면
    print(n) #숫자 n 그대로 출력

숫자를 입력하세요:1
1

### 15. 신학기가 시작되고, 아이들이 돌아가면서 자기소개를 하기로 했습니다.

만약 입력으로 `김다정`이라는 이름이 주어지면

```python
안녕하세요. 저는 김다정입니다.
```

라고 출력하게 해주세요.

In [4]:
n = input('이름을 입력해주세요: ')
print ("안녕하세요. 저는 " + n + "입니다")

이름을 입력해주세요: 윤예빈
안녕하세요. 저는 윤예빈입니다

### 16. 문장이 입력되면 거꾸로 출력하는 프로그램을 만들어 봅시다.

In [5]:
n = input()
print(n[::-1]) # 처음부터 끝까지 -1칸 간격으로 ( == 역순으로)
#문자열을 [::-1] 이라는 인덱스로 호출하면 해당 문자열을 뒤집은 결과를 반환함.

abc
cba

### 17. 유주는 놀이공원 아르바이트 중입니다. 그런데 놀이기구마다 키 제한이 있습니다.
유주가 담당하는 놀이기구는 키가 150 이상만 탈 수 있습니다.

입력으로 키가 주어지면
키가 150이 이상이면 **YES**를 틀리면 **NO**를 출력하는 프로그램을 작성하세요.

In [ ]:
n = int(input("키를 입력하세요.: "))

if n >= 150: #만약 키가 150 이상이라면
    print ("YES")
else: #키가 150 이상이 아니라면
    print ("NO")

### 18. 평균 점수
영하네 반은 국어, 수학, 영어 시험을 보았습니다. 영하는 친구들의 평균 점수를 구해주기로 했습니다.

공백으로 구분하여 세 과목의 점수가 주어지면
**전체 평균 점수**를 구하는 프로그램을 작성하세요. **단, 소숫점 자리는 모두 버립니다.**

In [ ]:
data = list(map(int, input().split(''))) #split('') 공백 구분

print(int(sum(data)/3)) #데이터를 합한 다음 3으로 나눔, int(정수형)으로 소수점 자리를 버림

### 19. 공백으로 구분하여 두 숫자 a와 b가 주어지면, **a의 b승**을 구하는 프로그램을 작성하세요.

In [ ]:
n = list(map(int, input().split()))
print(n[0] ** n[1])

### 20. 공백으로 구분하여 두 숫자가 주어집니다.
첫번째 숫자로 두번째 숫자를 나누었을 때 그 몫과 나머지를 공백으로 구분하여 출력하세요.

In [ ]:
a, b = map(int, input().split(' ')) #split('') 공백 구분
print(a**b)

### 21. 다음 중 set을 만드는 방법이 아닌 것?

1.  x = {1, 2, 3, 5, 6, 7}
2.  x = {}
3.  x = set('python')
4.  x = set(range(5))
5.  x = set()
**2번, set은 순서가 없고 중복을 허락하지 않게 출력됨.
set은 dict타입과 동일한 중괄호를 사용하므로, 중괄호만으로는 생성할 수 없음.**

### 22. 다음 중 변수 i가 6의 배수인지 확인하는 방법으로 올바른 것은?

1.  i / 6 == 0
2.  i % 6 == 0
3.  i & 6 == 0
4.  i | 6 == 0
5.  i // 6 == 0
**2번, 변수 i를 6으로 나누었을 때 나머지가 0이라면 배수임**

### 23. print(10/2)의 출력 결과는 **5**이다 (OX 문제)
**X. 5.0임**

### 24. 대문자로 바꿔주세요!
민지는 국제 포럼에서 아르바이트를 하게 되었습니다. 민지는 각 국에서 온 참가자들의 명단을 엑셀로 정리하고 있는데 참가자들 이름이 어떤 이는 전부 소문자, 어떤 이는 전부 대문자로 써져 있는 등 형식이 제각각이었습니다.

민지를 위해 **이름이 입력되면 전부 대문자로 출력되는 프로그램**을 만들어주세요.

In [ ]:
user_input = input()
print(user_input.upper()) #문자열 대문자로 변경하는 함수

### 25. 원의 넓이를 구하세요
원의 넓이는 `반지름의 길이 x 반지름의 길이 x 3.14`로 구할 수 있습니다.
함수를 사용하여 원의 넓이를 구하는 코드를 작성해봅시다.

**입력을 반지름의 길이로 정수 n이 주어지면 원의 넓이를 반환하는 함수**를 만들어 주세요.
(입력을 해야하기 때문에 input을 반드시 사용해야합니다)

In [ ]:
i = int(input())
print(i * i * 3.14)

### 26. 행성 문제 2
우리 태양계를 이루는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성이 있습니다.
이 행성들의 영어 이름은 Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune입니다.

**행성의 한글 이름을 입력하면 영어 이름을 반환하는 프로그램**을 만들어 주세요.

In [ ]:
i = input()
planets = {"수성" : 'Mercury', "금성" : 'Venus' ,"지구": 'Earth', "화성" : 'Mars' ,"목성" : 'Jupiter' ,"토성" : 'Saturn' ,"천왕성" : 'Uranus' ,"해왕성" : 'Neptune'}
print(planets[i])

### 27. 딕셔너리 만들기
첫 줄에는 학생의 이름이 공백으로 구분되어 입력되고, 두번째 줄에는 그 학생의 수학 점수가 공백으로 구분되어 주어집니다.

두 개를 합쳐 **학생의 이름이 key**이고 **value가 수학 점수**인 딕셔너리를 출력해주세요.

### 28. 2-gram
**2-gram**이란 문자열에서 2개의 연속된 요소를 출력하는 방법입니다. 
예를 들어 '**Python**'을 2-gram으로 반복해 본다면 다음과 같은 결과가 나옵니다.

```python
Py
yt
th
ho
on
```

입력으로 문자열이 주어지면 **2-gram**으로 출력하는 프로그램을 작성해 주세요.

In [ ]:
data = input()

for i in range(len(data) - 1):
    print(data[i], data[i+1], sep = '')

### 29. 대문자만 지나가세요
진구는 영어 학원 아르바이트를 하고 있습니다. 반 아이들은 알파벳을 공부하는 학생들인데 오늘은 대문자 쓰기 시험을 봤습니다.

**알파벳 하나만을 입력하고 그 알파벳이 대문자이면 YES를 아니면 NO를 출력하는 프로그램**을 만들어 주세요.

In [ ]:
data = input()

if data.isupper():
    print("YES")
else:
    print("NO")

### 30. 문자열 속 문자 찾기
문자 pineapple에는 apple이라는 문자가 숨어 있습니다. 원범이는 이렇듯 문자열 속에 숨어있는 문자를 찾아보려고 합니다.

입력으로 첫 줄에 문자열이 주어지고 둘째 줄에 찾을 문자가 주어지면 
**그 문자가 시작하는 index를 반환하는 프로그램**을 만들어 주세요

```python
**입력**

pineapple is yummy
apple

**출력**
4
```

In [ ]:
data = input()
word = input()
print(data.find(word))