### 1. 다음 리스트에서 400, 500를 삭제하는 code를 입력하세요.
```python
nums = [100, 200, 300, 400, 500]
```

In [6]:
nums = [100, 200, 300, 400, 500]
nums.remove(400)
nums.remove(500)
print (nums)

[100, 200, 300]

In [16]:
nums = [100, 200, 300, 400, 500]
nums[0:3]

[100, 200, 300]

### 2. pass 부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요.
```
l = [200, 100, 300]
<pass>
print(l)
>> [200, 100, 10000, 300]
```

In [19]:
l = [200, 100, 300]
l.insert (2,1000)
print (l)

[200, 100, 1000, 300]

### 3. 다음 출력 값으로 올바른 것은?
```python
l = [100, 200, 300]
print(type(l))
```
1)  class 'str'
2)  class 'int'
3)  class 'list'
4)  class 'tuple'

**3번 class 'list', 리스트 자료형의 대괄호[ ]를 사용함

### 4. 다음 변수 a를 print(type(a))로 넣었을 때 출력될 값과의 연결이 알맞지 않은 것은?

1)  입력 : a =1,   출력 : class 'int'

2)  입력 : a = 2.22,   출력 : class 'float'

3)  입력 : a = 'p',   출력 : class 'char'

4)  입력 : a = [1, 2, 3],   출력 : class 'list'

**3번, 문자열 자료형이므로 class 'str'이 나와야함.**

### 5. 다음 코드의 출력 값으로 알맞은 것은?
```python
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a+b)
```
1.  10
2.  12
3.  14
4.  16

**4번, range(1, 5, 2)은 숫자 1부터 4까지 2 간격의(1 이상 5 미만의 2 간격) 숫자를 데이터로 갖는 객체이다. 따라서 위 예에서 i 변수에 리스트의 숫자가 1부터 4까지 하나씩 차례로 대입되면서 a += i 문장을 반복적으로 수행하고 a는 최종적으로 14가 된다. print (a+b)를 하면 4번인 16이 나오게 된다.**

### 6. True를 찾아주세요.

1. None
2. 1
3. ""
4. 0
5. bool(0)

**2번, 1은 True이다.**

### 7. 다음 중 변수명으로 사용할 수 없는 것 2개를 고르시오.

1. age
2. a
3. as
4. _age
5. 1age

**3번, 5번. python 변수명을 선언할 때, 특별한 의미가 있는 예약어는 사용할 수 없으므로 as는 변수명으로 사용할 수 없다. 그리고 변수명 앞에 숫자가 올 수 없으므로 1age는 변수명으로 사용할 수 없다.**

### 8. 딕셔너리를 다음과 같이 만들었다. 출력값을 입력하시오. (출력값은 공백을 넣지 않습니다. )
```python
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])
```

In [20]:
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])

84

### 9. 다음 소스 코드를 완성하여 날짜와 시간을 출력하시오.
```python
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, )
print(hour, minute, second, )

>>  2019/04/26 11:34:27
```

In [22]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep = "/", end = ' ')
print(hour, minute, second, sep = ":" )

2019/04/26 11:34:27

### 10. 크리스마스 날, 은비는 친구들과 함께 파티를 하기로 했습니다. 그런데, 크리스마스 트리를 사는 것을 깜빡하고 말았습니다. 온 가게를 돌아다녀 봤지만 크리스마스 트리는 모두 품절이었습니다. 하는 수 없이 은비는 프로그래밍으로 트리를 만들기로 합니다. 은비를 위해 프로그램을 작성해 주세요.

In [34]:
for i in range (1,20):
    for j in range (19 - i):
        print (' ',end = "")
    for j in range (1,i * 2,1):
        print ('*',end = "")
    print('')

                  *
                 ***
                *****
               *******
              *********
             ***********
            *************
           ***************
          *****************
         *******************
        *********************
       ***********************
      *************************
     ***************************
    *****************************
   *******************************
  *********************************
 ***********************************
*************************************